RECORDER_API_URL=http://recorder:8080
RECORDER_API_KEY=
SPACES_ENDPOINT=https://fra1.digitaloceanspaces.com
SPACES_BUCKET=ozen-recordings
SPACES_KEY=
SPACES_SECRET=
SPACES_FILE_ACL=private
SPACES_CDN_BASE=https://ozen-recordings.fra1.cdn.digitaloceanspaces.com
DEST_ENDPOINT=https://fra1.digitaloceanspaces.com
DEST_BUCKET=ozen-recordings
DEST_KEY=
DEST_SECRET=
DEST_FILE_ACL=private
DEST_CDN_BASE=https://ozen-recordings.fra1.cdn.digitaloceanspaces.com
CONCURRENCY=3
POLL_INTERVAL=300
VIDEO_QUALITIES=360p,480p,720p,1080p
USE_GPU=false
